@charset "utf-8";
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
h1,
h2,
h3,
p,
div,
ol,
ul,
input,
button {
	margin: 0;
	padding: 0
}

body {
	position: absolute;
	-webkit-text-size-adjust: 100%;
	color: #333333;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	overflow-x: hidden;
	font-family: PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif;
}

ol,
ul {
	list-style: none
}

a {
	color: #333333;
	text-decoration: none;
}

input,
button,
textarea {
	border: 0;
	border-radius: 0;
	background: transparent;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

button {
	outline: none
}

.view {
	position: absolute;
	width: {{dWidth}}px;
	height: 100%;
	overflow: hidden;
	left: 50%;
	margin-left: -{{dWidthHalf}}px;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
	{{uniBg}}
	display: none;
}

.page_transition {
	transition: transform 0.45s ease;
	-ms-transition: transform 0.45s ease;
	-moz-transition: transform 0.45s ease;
	-webkit-transition: transform 0.45s ease;
}

.page_box {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
}

.page_box.top{}

.page_box.bottom{}

.page_box.cover{}

.page_box.contain{}

.scrollview {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.preload {
	display: none;
}

.preload img {
	width: 1px;
	height: 1px;
	display: none;
}

.music_btn {
	position: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	top: 20px;
	right: 20px;
}

.music_play {
	background-image: url(../img/music.png);
	animation: music_play 2s 0s linear infinite;
	-ms-animation: music_play 2s 0s linear infinite;
	-moz-animation: music_play 2s 0s linear infinite;
	-webkit-animation: music_play 2s 0s linear infinite;
}

@keyframes music_play {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes music_play {
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}

.music_pause {
	background-image: url(../img/music_close.png);
}

.page_0{
	display: block;
}

.loader_spin{
	position: absolute;
	width: 140px;
	height: auto;
	top: 50%;
	left: 0;
	right: 0;
	margin: -70px auto auto auto;
	animation: shunshi 2s 0s linear infinite;
	-webkit-animation: shunshi 2s 0s linear infinite;
}

.loader_text {
	position: absolute;
	width: 100%;
	height: 140px;
	left: 0%;
	top: 50%;
	text-align: center;
	line-height: 140px;
	font-size: 36px;
	color: white;
	margin-top: -70px;
}
{{cssMain}}